section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
.tints-and-shades {
    display: flex;
    flex: 1 1 auto;
}
.color-gradient, .color-variations {
    /*margin: 0.8rem;*/
}
.color-variations {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    width: 200px;
}
.color-gradient {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
}
/*
.color-gradient div {
    height: 16em;
}
*/
.color-picker {
    flex: 1 1 50%;
}
.ufo {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
